body{
    background-color: rgb(255, 180, 153);
}
h1{
    color: rgb(255, 180, 153);
    background-color: whitesmoke;
    text-align: center;
    margin-top: 7px;
    font-weight: 400;
    padding: 4px 0px;
}

.scoreboard {
    position: relative;
    height: 70px;
    width: 190px;
    border: 4px solid whitesmoke;
    border-radius: 5px;
    margin: auto;
    margin-top: 20px;
    box-sizing: border-box;
}
.scores{
    position: relative;
    margin: auto;
    text-align: center;
    margin-top: 4%;
}
span{
    color: whitesmoke;
    font-size: 35px;
    margin: 0 5px;
    font-weight: 400;
    opacity: 1;
    transition: all 0.5s;
}

 .userLabel{
     padding: 0px 6px;
     font-size: 25px;
     color: whitesmoke;
     background-color: #bbbbbb;
     position: absolute;
     top: 21%;
     left: -30px;
 }

 .compLabel{
    padding: 0px 6px;
    font-size: 25px;
    color: whitesmoke;
    background-color: #bbbbbb;
    position: absolute;
    top: 21%;
    right: -40px;
}

#result {
    text-align: center;
    color: whitesmoke;
    margin-top: 10px;
    font-size: 30px;
    font-weight: 400px;
}

.playbox{
    margin: auto;
    width: 515px;
    box-sizing: border-box;
}
.playbox img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 20px;
    margin-left: 12px;
    margin-top: 10px;
}
.playbox .leftImg{
    background-color: whitesmoke;
    width: 230px;
    height: 230px;
    box-sizing: border-box;
    display: inline-block;  
    margin-right: 50px; 
    border-radius: 30% 0 0 30%; 
    cursor: pointer;
}
.playbox .rightImg{
    position: relative;
    background-color: whitesmoke;
    width: 230px;
    height: 230px;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 0 30% 30% 0;
}
.playbox .rightImg .rightOverlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 230px;
    width: 230px;
    border-radius: 0 30% 30% 0;
    background-color: #bbbbbb;
    opacity: 0.6;

}

.instruct {
    color: whitesmoke;
    font-size: 30px;
    font-weight: 400px;
    text-align: center;
    margin-top: 10px;
}
.btnDiv{
    text-align: center;
    margin: auto;
    width: 300px;
    
}
#runBtn{
    color: whitesmoke;
    background-color: rgb(255, 180, 153);
    font-size: 30px;
    font-weight: 400px;
    margin-top: 10px;
    border: 3px solid whitesmoke;
    border-radius: 3px;
    width: 100%;
    cursor: pointer;
}
#runBtn:hover{
    transition: 0.2s ease-in-out;
    background-color: #bbbbbb;
}
